@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* variáveis globais CSS */
:root{
    --cor-primaria:#00030C;
    --cor-secundaria:#FFFFFF;
    --cor-terciaria:#167BF7;
    --cor-quaternario:#EC2F46;
    --cor-quinária:#C0C0C0;
    /* --cor-hover:#3F4E4F; */

    --fonte-primaria:"Inter", sans-serif;
    /* --fonte-secundaria:"Krona One", sans-serif; */
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

/* sessão one */
    
.main_section_one{
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;

    /* container */
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main_section_one_div{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    gap: 1em;
    align-items: center;    
}

.main_section_one_div_titulo{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1.75rem; 
    font-weight: 700;
    text-align: center;
    font-weight: 700;  
    width: 75%; 
}
.main_section_one_div_buton_1{
    background-color: var(--cor-terciaria);
    border-radius: 8px;
    padding: 1em 8em;
    display: block; 
    
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    
}

.main_section_one_div_buton_2{
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    padding: 1em 9em;
    display: block; 

     

    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}
.main_section_one_div_img_combo{
    margin: 0em 0em 1em 0em;
    width: 50%;

}
.main_section_one_div_aviso{
    color: var(--cor-quinária);
    font-family: var(--fonte-primaria);
    font-size: 0.75rem;
}

/* sessão two */
.main_section_two{
    display: flex;
    align-items: center;   
    
}

.main_section_two_img_plataformas{
    width: 50%;
    margin: 0em 5em;
    gap: 1em;
}


.main_section_two_div{
    margin: 0em 5em 0em 10em;
    gap: 1em;
    
}
.main_section_two_div_titulo{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 3rem; 
    font-weight: 700;
    font-weight: 700;  
    width: 75%;
    
}

.main_section_two_div_p1{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    margin: 0.80em 0em;
}

/* sessão three */
.main_section_three{
    display: flex;
    align-items: center;
    justify-content:flex-start;

    margin: 2em 0em;
}

.main_section_three_div{
    margin: 0em 5em 0em 10em;
    gap: 1em;
}

.main_section_three_div_p1{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    margin: 0.80em 0em;
}

.main_section_three_div_buton{
    background-color: var(--cor-terciaria);
    border-radius: 8px;
    padding: 1em;
    display: inline-block;
    

    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;  
}
.main_section_four{
    margin: 5em 0em;
}
.main_section_four_titulo{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 3rem; 
    font-weight: 700;
    text-align: center;
    font-weight: 700;  
    margin: 1em 0em;
    
}
.main_section_four_dispositivo{
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}
.list_item{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 2rem; 
    font-weight: 700;
    text-align: center;
    margin: 1em 0em;
}

.rodape{
    text-align: center;
    text-decoration: none;
    margin: 5em;
}

.rodape_list_ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    margin: 1em;

}
.rodape_list_ul_li a{
    text-decoration: none;
    color: var(--cor-secundaria);
    margin: 1em;


    font-family: var(--fonte-primaria);
    font-size: 1rem; 
    font-weight: 400;
}
.rodape_list_ul_li a:hover{
    color: var(--cor-terciaria);
}

.infor{
    font-family: var(--fonte-primaria);
    font-size: 0,85rem; 
    font-weight: 200;
    margin: 1em;
}

